{% extends "Base.html" %}
{% block content %}
    <h1>HOME</h1>

    <h2>Hi {{ user.username }}!</h2>
        Sedni Software, is a consulting and computer technology company founded in October 1996.
        Our objective is to satisfy the needs that the changing and competitive market demands in the
        present, providing solutions that are not limited solely to software development, but with a
        broader approach, allow our clients to optimize their management, key to competitiveness.<br><br>

        There are many factors that enable us to achieve this goal, among which we can highlight the
        use of the most advanced technologies, the contribution of the most suitable people for each project and the
        high level of qualification of the technicians and collaborators of our company.<br><br>

        <ul>Our portfolio of activities ranges from:
            <li>Maintenance and technological support</li>
        <li>Custom development of products and components</li>
        <li>Application management and software development</li>
        <li>Analysis and Design of solutions</li>
        <li>Application optimization and quality</li>
        <li>Technological outsourcing</li></ul>

        For this reason, at Indes Sotware we want our Clients to dedicate themselves to promoting their business, delegating
        our company those services related to the development of solutions.<br><br>

        The knowledge of our technicians covers the main technological environments used in the market:
        Databases (DB2, Oracle, SQL Server, MySQL), Programming Languages ​​(J2EE, JAVA, COBOL, NATURAL, .NET),
        Business management applications (SAP, BI...).<br><br>

        <ul>For this we base our methodology on 4 fundamental pillars:
        <li>Teamwork</li>
        <li>Closeness</li>
        <li>Proactivity</li>
        <li>Flexibility</li></ul>

        For Sedni, the integral satisfaction of our clients is our priority and reason for being.
        For this we ensure that the service provided and the quality are the best possible, and for that reason one of the
        objectives for 2008 was to achieve ISO 9001 certification.
        As a result of this process, SEDNI SOFTWARE has obtained from the "Cámara de Madrid" the certification that
        certifies that the "Quality System" implemented meets the requirements of the UNE-EN ISO 9001:2000 Standard since
        05/30/2008.<br><br>

        Likewise, at SEDNI we ensure the confidential and personal information of all the data of our
        workers and in compliance with the Organic Law on Data Protection, in 2011 we have implemented all the
        security procedure that ensures this right.<br><br>

        In 90% of cases, we handle long-term projects to provide future employees with stability
        they are looking for and thus be able to have a professional projection.<br><br>

        Our client portfolio includes: IECISA, EVERIS, IVECO, TESORERÍA GENERAL S.S, INDRA, FERROVIAL,
        VODAFONE, SUNSET, among others.<br><br>
{% endblock %}